
@font-face {
    font-family: "Montserrat700";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat800";
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat900";
    src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway400";
    src: url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway500";
    src: url("../fonts/Raleway/Raleway-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway600";
    src: url("../fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
}